spring:
  application:
    name: SocialMeliProject

  datasource:
    url: jdbc:h2:mem:socialmeli;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html